body {
  background-color: aliceblue;
}

h4 {
  margin: 10px;
  text-align: center;
}

.lunchTimeSet{
  margin: 30px;
  text-align: center;
  font-size: larger;
}

.lunchTimeSet input {
  width: 40px;
}

.lunchTimeSet button {
  width: 100px;
  height: 40px;
}

.container {
  padding: 30px;
  background-color: rgb(185, 203, 238);
}

.container input {
  width: 50px;
  margin-left: 4px;
}

.container button {
  padding: 0;
  width: 100px;
  height: 30px;
}

.memo {
  width: 200px !important;
}

.sum {
  font-size: larger;
  font-weight: bold;
  margin-top: 30px;
}

.sum input{
  width: 80px !important;
  font-weight: bold;
}